<div class="col-sm-6 blog-main">
  <h5>Blog Form</h5>
  <%= form_for(blog) do |f| %>
    <% if blog.errors.any? %>
      <% blog.errors.full_messages.each do |error| %>
        <%= alert_generator error %>
      <% end %>
    <% end %>

    <div class="form-group">
      <%= f.text_field :title, class: 'form-control form-control-sm', placeholder: "Title" %>
    </div>

    <div class="form-group">
      <%= f.label :topic_id %>
      <%= f.collection_select(:topic_id, Topic.all, :id, :title,
                                {
                                  include_blank: true
                                },
                                class: 'form-control form-control-sm'
                              )
      %>
    </div>

    <div class="form-group">
        &nbsp;&nbsp;
      <%= f.radio_button :status, 'draft' %>
      <%= f.label :status, 'Draft' %>
        &nbsp;&nbsp;&nbsp;&nbsp;
      <%= f.radio_button :status, 'published' %>
      <%= f.label :status, 'Published' %>
    </div>

    <div class="form-group">
      <%= f.text_area :body, class: 'form-control form-control-sm', rows: 15, placeholder: "Content" %>
    </div>

    <div class="form-group">
      <%= f.submit "Submit", class: 'btn btn-success btn-block btn-sm' %>
      <%= link_to 'Show Blog', @blog, class: 'btn btn-secondary btn-block btn-sm' %>
      <%= link_to 'Cancel Update', blogs_path, class: 'btn btn-danger btn-block btn-sm' %>
    </div>
  <% end %>
  <div>
  </div>
</div>