<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-md-8">
      <%= form_for(@portfolio_item) do |f| %>
        <div class="form-group">
          <%= f.label :title %>
          <%= f.text_field :title, class: 'form-control form-control-sm' %>
        </div>

        <div class="form-group">
          <%= f.label :subtitle %>
          <%= f.text_field :subtitle, class: 'form-control form-control-sm' %>
        </div>

        <div class="form-group">
          <label class="btn btn-secondary btn-block btn-sm">
            Upload a main image file <%= f.file_field :main_image, style: 'display:none;' %>
          </label>
        </div>

        <div class="form-group">
          <label class="btn btn-secondary btn-block btn-sm">
            Upload a thumb image file <%= f.file_field :thumb_image, style: 'display:none;' %>
          </label>
        </div>

        <div class="form-group">
          <%= f.label :body %>
          <%= f.text_area :body, class: 'form-control form-control-sm', rows: 10 %>
        </div>

        <hr>

        <h4>Highlights</h4>
        <div class="form-group">
          <%= f.fields_for :technologies do |technology_form| %>
            <%= render 'technology_fields', f: technology_form %>
          <% end %>
          <div>
            <%= link_to_add_association 'Add Highlight', f, :technologies %>
          </div>
        </div>

        <div class="form-group">
          <%= f.submit "Update", class: 'btn btn-sm btn-success btn-block' %>
          <%= link_to "Cancel Edit", portfolios_path, class: 'btn btn-sm btn-danger btn-block' %>
        </div>
      <% end %>
    </div>
  </div>
</div>