<!DOCTYPE html>
<html>
  <head>
    <title><%= @page_title %></title>
    <%= favicon_link_tag %>
    <%= csrf_meta_tags %>

    <meta name="keywords" content="<%= @seo_keywords %>" />

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">

    <%= render 'shared/nav', location: 'top' %>

    <% if notice %>
      <br/>
      <div class="alert alert-info alert-dismissible fade show" role="alert"><%= notice %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
      </div>
    <% end %>
    <% if alert %>
      <br/>
      <div class="alert alert-danger alert-dismissible fade show" role="alert"><%= alert %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
      </div>
    <% end %>
    <p>&nbsp;</p>
    <% if current_user.is_a?(User) %>
      <%= link_to "Logout", destroy_user_session_path, method: :delete, class: 'btn btn-primary' %>
    <% else %>
      <%= link_to "Register", new_user_registration_path, class: 'btn btn-success' %>
      <%= link_to "Login", new_user_session_path, class: 'btn btn-secondary' %>
    <% end %>
    <p>&nbsp;</p>
    <%= yield %>

<%# Sessions Example. Requires the link to contain ?q and whatever you want to be stored into the session. %>

    <% if session[:source] %>
      <p>Thanks for visiting from <%= session[:source] %>
    <% end %>

  </div>
  </body>
</html>
